.parallax-window {
  min-height: 400px;
  background: transparent;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 37px;
}

a,
li {
  font-family: "Caveat", cursive;
  font-size: 23px;
}

body,
html {
  scroll-behavior: smooth;
  height: 100%;
}

.intro {
  background: url("Not committed/images/blackTable.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
