$main-color: #33ac29;
$secondary-color: #bda520;
$color-check: #ffffff;

.parallax-window {
  min-height: 780px;
  max-height: 780px;
  background: transparent;
}

#menusBg, #aboutBg {
    /* The image used */
    /* Set a specific height */
    height: 780px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#menusBg {
    background-image: url("Not committed/images/blackSteak.jpg")
}

#aboutBg {
    background-image: url("Not committed/images/islandcanoe.jpg");
  
}

.navbar {
  background-image: linear-gradient(to right, rgb(19, 18, 18), rgb(112, 7, 112));
}

h1,
h5 {
  font-family: "Dancing Script", cursive;
  font-size: 37px;
  color: $main-color;
}

li > a,
p,
#eventTypes {
  font-family: "Caveat", cursive;
  font-size: 25px;
  color: $secondary-color;
}

body,
html {
  scroll-behavior: smooth;

}

a {
  color: $main-color;
  &:hover {
    color: $secondary-color;
    text-decoration: none;
    opacity: .8;
  }
}

.pageLink{
    opacity: .8;
}


#beverageImage {
  h5,
  p {
    background-color: rgba(255, 254, 253, 0.829);
  }
}

#eventsImage {
    opacity: .95;
    &:hover{
        opacity:1
    }
}

.jumboHome {
    height: 40%;
}

#aboutText {
    background-color: rgba(66, 12, 12, 0.527)
}

.text {
  text-align: center;
}

.bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  max-width: 100%;
}

.card-text {
  word-wrap: break-word;
}


footer {
  background-color: beige;
  background-position: bottom 100%;
}

.fa {
  font-size: 30px;
  width: 40px;
  text-align: center;
  border-radius: 70%;
}

.btn.btn-social-icon {
  width: 60px;
  height: 50px;
  padding: 8px;
  margin: 1px;
}

.btn-facebook {
  border: 1px solid #3b579d;
  color: #3b579d;
}

.btn-facebook:hover {
  background: #3b579d;
  color: #ffffff;
}

.btn-youtube {
  border: 1px solid #e52d27;
  color: #e52d27;
}

.btn-youtube:hover {
  background: #e52d27;
  color: #ffffff;
}

.btn-twitter {
  border: 1px solid #2caae1;
  color: #2caae1;
}

.btn-twitter:hover {
  background: #2caae1;
  color: #ffffff;
}

.btn-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38;
}

.btn-instagram:hover {
  background: #e52d27;
  color: #ffffff;
}

#menuHome {
}


//media viewport queries
@media (min-width: 0px) {
  .card {
    width: 500px;
    height: 300px;
  }
  .carousel-control-next {
    transform: translateX(-10%);
  }
  .carousel-control-prev {
    transform: translateX(10%);
  }
  #menuHome {
    min-height: 800px;
    max-height: 800px;
  }
  
}

@media (min-width: 576px) {
  .card {
    width: 500px;
    height: 300px;
  }
  .carousel-control-next {
    transform: translateX(-10%);
  }
  .carousel-control-prev {
    transform: translateX(10%);
  }

  .hideXs {
    display:none;
  }
}

@media (min-width: 768px) {
  .card {
    width: 500px;
    height: 300px;
  }
  .carousel-control-next {
    transform: translateX(-93%);
  }
  .carousel-control-prev {
    transform: translateX(93%);
  }
}

@media (min-width: 992px) {
  .card {
    width: 500px;
    height: 300px;
  }
  .carousel-control-next {
    transform: translateX(-152%);
  }
  .carousel-control-prev {
    transform: translateX(152%);
  }
}

@media (min-width: 1200px) {
  .card {
    margin-top: 5px;
    width: 665px;
    height: 350px;
  }
  .carousel-control-next {
    transform: translateX(-135%);
  }
  .carousel-control-prev {
    transform: translateX(135%);
  }
}
