.parallax-window {
  min-height: 780px;
  max-height: 780px;
  background: transparent; }

#menusBg,
#aboutBg {
  /* The image used */
  /* Set a specific height */
  height: 780px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#menusBg {
  background-image: url("Not committed/images/blackSteak.jpg"); }

#aboutBg {
  background-image: url("Not committed/images/islandcanoe.jpg"); }

.navbar {
  background-image: linear-gradient(to right, #131212, #700770); }

h1,
h5 {
  font-family: "Dancing Script", cursive;
  font-size: 37px;
  color: #33ac29; }

li > a,
p,
#eventTypes {
  font-family: "Caveat", cursive;
  font-size: 25px;
  color: #bda520; }

body,
html {
  scroll-behavior: smooth; }

a {
  color: #33ac29; }
  a:hover {
    color: #bda520;
    text-decoration: none;
    opacity: 0.8; }

.pageLink {
  opacity: 0.8; }

#beverageImage h5,
#beverageImage p {
  background-color: rgba(255, 254, 253, 0.829); }

#eventsImage {
  opacity: 0.95; }
  #eventsImage:hover {
    opacity: 1; }

.jumboHome {
  height: 40%; }

#aboutText {
  background-color: rgba(66, 12, 12, 0.527); }

.text {
  text-align: center; }

.bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.card {
  max-width: 100%; }

.card-text {
  word-wrap: break-word; }

.carouselXs {
  width: 500px;
  height: 300px; }

.menuPhotos {
  height: 400px; }

.carouselButton {
  height: 400px; }

.no-gutters img:hover {
  opacity: .7; }

.no-gutters-row {
  align-items: center;
  justify-content: center; }

.modalImg {
  height: 315px;
  width: 450px; }

th img {
  height: 400px;
  width: 300px; }

#tableOverflow {
  overflow-y: auto; }

footer {
  background-color: beige;
  background-position: bottom 100%; }

.fa {
  font-size: 30px;
  width: 40px;
  text-align: center;
  border-radius: 70%; }

.btn.btn-social-icon {
  width: 60px;
  height: 50px;
  padding: 8px;
  margin: 1px; }

.btn-facebook {
  border: 1px solid #3b579d;
  color: #3b579d; }

.btn-facebook:hover {
  background: #3b579d;
  color: #ffffff; }

.btn-youtube {
  border: 1px solid #e52d27;
  color: #e52d27; }

.btn-youtube:hover {
  background: #e52d27;
  color: #ffffff; }

.btn-twitter {
  border: 1px solid #2caae1;
  color: #2caae1; }

.btn-twitter:hover {
  background: #2caae1;
  color: #ffffff; }

.btn-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38; }

.btn-instagram:hover {
  background: #e52d27;
  color: #ffffff; }

@media (max-width: 576px) {
  .carousel-card {
    width: 500px;
    height: 300px; }
  .carousel-home-next {
    transform: translateX(-10%); }
  .carousel-home-prev {
    transform: translateX(10%); }
  .hideXs {
    display: none; }
  .card-columns {
    display: none; }
  .lightboxImgT {
    height: 273px;
    width: 390px;
    margin-top: 35px; }
  .lightboxImgB {
    height: 273px;
    width: 390px;
    margin-top: 35px; }
  .no-gutters {
    margin: 0;
    padding: 0;
    width: 390px; }
  #reserveBg {
    min-height: 1400px;
    max-height: 1400px; } }

@media (min-width: 577px) and (max-width: 767px) {
  .carousel-card {
    width: 500px;
    height: 300px; }
  .hideXs {
    display: none; }
  #menuHome {
    min-height: 500px;
    max-height: 300px;
    background: transparent; }
  .lightboxImgT {
    height: 196px;
    width: 280px;
    margin-top: 70px; }
  .lightboxImgB {
    height: 196px;
    width: 280px; }
  .no-gutters {
    margin: 0;
    padding: 0;
    width: 280px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-card {
    width: 500px;
    height: 300px; }
  .carousel-home-next {
    transform: translateX(-93%); }
  .carousel-home-prev {
    transform: translateX(93%); }
  .lightboxImgT {
    height: 245px;
    width: 350px;
    margin-top: 80px; }
  .lightboxImgB {
    height: 245px;
    width: 350px; }
  .no-gutters {
    margin: 0;
    padding: 0;
    width: 350px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-card {
    width: 500px;
    height: 300px; }
  .carousel-home-next {
    transform: translateX(-152%); }
  .carousel-home-prev {
    transform: translateX(152%); }
  .lightboxImgT {
    height: 315px;
    width: 450px;
    margin-top: 60px; }
  .lightboxImgB {
    height: 315px;
    width: 450px; }
  .no-gutters {
    margin: 0;
    padding: 0;
    width: 450px; } }

@media (min-width: 1200px) {
  .carousel-card {
    margin-top: 5px;
    width: 665px;
    height: 350px; }
  .carousel-home-next {
    transform: translateX(-135%); }
  .carousel-home-prev {
    transform: translateX(135%); }
  .lightboxImgT {
    height: 340px;
    width: 500px;
    margin-top: 20px; }
  .lightboxImgB {
    height: 340px;
    width: 500px; }
  .no-gutters {
    margin: 0;
    padding: 0;
    width: 500px; } }
