$main-color: #33ac29;
$main-dark:#398d30; 
$secondary-color: #c0a114;
$second-light: #d3b323;
$third-color: rgb(112, 7, 112);
$light-color: rgba(228, 222, 222, 0.863);



.parallax-window {
  min-height: 780px;
  max-height: 780px;
  background: transparent;
}

#menusBg,
#aboutBg {
  /* The image used */
  /* Set a specific height */
  height: 780px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menusBg {
  background-image: url("Not committed/images/blackSteak.jpg");
}

#aboutBg {
  background-image: url("Not committed/images/islandcanoe.jpg");
}

.navbar {
  background-image: linear-gradient(to right, rgba(1, 8, 2, 0.952), $third-color);
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 37px;
  color: $main-color;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 52px;
  color: $main-color;
}

h3 {
  font-family: 'Courgette', cursive;
  color: $main-color;
  font-size: 25px;
}

h4 {
  color: $third-color;
}




h6 {
  color: $third-color;
  font-size: 30px;
  font-family: 'Parisienne', cursive;
}

li > a,
#eventTypes {
  font-family: "Caveat", cursive;
  font-size: 25px;
  color: $secondary-color;
}

p {
  font-family: 'Varela Round', cursive;
  color: $secondary-color;
  font-size: 18px;
}




body,
html {
  scroll-behavior: smooth;
}

a {
  color: $main-color;
  &:hover {
    color: $secondary-color;
    text-decoration: none;
    opacity: 0.8;
  }
}

.pageLink {
  opacity: 0.8;
}

#mainsCaption {
  h5 {
    background-color: rgba(224, 216, 216, 0.856);
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    a {
      color: $main-dark;
    }
  }
  p {
    background-color: rgba(255, 197, 176, 0.877);
    font-family: 'Parisienne', cursive;
    color: $third-color;
    font-size: 23px;
    
  }
}

#beveragesCaption {
  h2 {
    background-color: rgba(41, 37, 37, 0.877);
  }
  p {
    background-color: rgba(41, 37, 37, 0.692);
    font-size: 35px;
    color: $light-color;
    font-family: 'Parisienne', cursive;
  }
}

#eventsImage {
  opacity: 0.95;
  &:hover {
    opacity: 1;
  }
}

#weddingEvents {
  h6 {
    a { 
      font-size: 40px;
      color: $light-color;
    }
  }
  h3 {
    font-size: 24px;
    color: $second-light;
  }
  .d-none {
    p {
      font-size: 19px;
    }
    ul {
      li {
      color: $second-light;
      font-size: 27px;
      }
    }
  }
}



.jumboHome {
  height: 40%;
}

#reserveHeader {
  h6 {
    font-size: 28px;
  }
  p {
    color: $secondary-color
  }
}

#aboutText {
  background-color: rgba(56, 5, 5, 0.671);
}

.text {
  text-align: center;
}

.bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  max-width: 100%;
}

.card-text {
  word-wrap: break-word;
}

.carouselXs {
  width: 500px;
  height: 300px;
}

.menuPhotos {
  height: 400px;
}

.carouselButton {
  height: 400px;
}

.no-gutters {
  img {
   &:hover {
    opacity: .7;
   }
  }
}

.no-gutters-row {
  align-items: center;
  justify-content: center;
}

.modalImg {
  height: 315px;
  width: 450px;
}

th {
  img {
    height: 400px;
    width: 300px;
  }
}

#tableOverflow {
  overflow-y: auto;
}

#overlaySize {
  width: 100%;
  height: 100vh;
  #overlayBackground {
    height: auto;
    min-height: 100vh;
    background-color: rgba(53, 2, 53, 0.74);
    #navOverlay{
      .close {
        font-size: 50px;
      }
      .overlayItems {
        li {
          text-align: center;
          list-style-type:none;
          margin-top: 20px;
          }
          a {
            font-size: 43px;
          }
        }
      }
    }
  }





///////////// insert new style above ///////////////

footer {
  background-color: beige;
  background-position: bottom 100%;
}

.fa {
  font-size: 30px;
  width: 40px;
  text-align: center;
  border-radius: 70%;
}

.btn.btn-social-icon {
  width: 60px;
  height: 50px;
  padding: 8px;
  margin: 1px;
}

.btn-facebook {
  border: 1px solid #3b579d;
  color: #3b579d;
}

.btn-facebook:hover {
  background: #3b579d;
  color: #ffffff;
}

.btn-youtube {
  border: 1px solid #e52d27;
  color: #e52d27;
}

.btn-youtube:hover {
  background: #e52d27;
  color: #ffffff;
}

.btn-twitter {
  border: 1px solid #2caae1;
  color: #2caae1;
}

.btn-twitter:hover {
  background: #2caae1;
  color: #ffffff;
}

.btn-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38;
}

.btn-instagram:hover {
  background: #e52d27;
  color: #ffffff;
}


//media viewport queries

@media (max-width: 576px) { //xs
  .carousel-card {
    width: 500px;
    height: 300px;
  }
  .carousel-home-next {
    transform: translateX(-10%);
  }
  .carousel-home-prev {
    transform: translateX(10%);
  }

  .hideXs {
    display: none;
  }

  .card-columns {
    display: none;
  }
  .lightboxImgT {
    height: 273px;
    width: 390px;
    margin-top: 35px;
    
  }
  .lightboxImgB {
    height: 273px;
    width: 390px;
    margin-top: 35px;
  }

  .no-gutters {
    margin: 0;
    padding: 0;
    width: 390px;
  }

  #reserveBg {
    min-height: 1400px;
    max-height: 1400px; 
  }

}

@media (min-width: 577px) and (max-width: 767px) { //sm
  .carousel-card {
    width: 500px;
    height: 300px;
  }
  .hideXs {
    display: none;
  }
  #menuHome {
    min-height: 500px;
    max-height: 300px;
    background: transparent;
  }
  .lightboxImgT {
    height: 196px;
    width: 280px; 
    margin-top: 70px;
    
  }
  .lightboxImgB {
    height: 196px;
    width: 280px; 
  }

  .no-gutters {
    margin: 0;
    padding: 0;
    width: 280px; 
  }

}

@media (min-width: 768px) and (max-width: 991px) { //md
  .carousel-card {
    width: 500px;
    height: 300px;
  }
  .carousel-home-next {
    transform: translateX(-93%);
  }
  .carousel-home-prev {
    transform: translateX(93%);
  }
  .lightboxImgT {
    height: 245px;
    width: 350px;
    margin-top: 80px;
    
  }
  .lightboxImgB {
    height: 245px;
    width: 350px;
  }

  .no-gutters {
    margin: 0;
    padding: 0;
    width: 350px;
  }
  
}

@media (min-width: 992px) and (max-width: 1199px) { //lg
  .carousel-card {
    width: 500px;
    height: 300px;
  }
  .carousel-home-next {
    transform: translateX(-152%);
  }
  .carousel-home-prev {
    transform: translateX(152%);
  }
  .lightboxImgT {
    height: 315px;
    width: 450px;
    margin-top: 60px;
    
  }
  .lightboxImgB {
    height: 315px;
    width: 450px;
  }

  .no-gutters {
    margin: 0;
    padding: 0;
    width: 450px;
  }
}


@media (min-width: 1200px) { //xl
  .carousel-card {
    margin-top: 5px;
    width: 665px;
    height: 350px;
  }
  .carousel-home-next {
    transform: translateX(-135%);
  }
  .carousel-home-prev {
    transform: translateX(135%);
  }
  .lightboxImgT {
    height: 340px;
    width: 500px;
    margin-top: 20px;
    
  }
  .lightboxImgB {
    height: 340px;
    width: 500px;
  }

  .no-gutters {
    margin: 0;
    padding: 0;
    width: 500px;
  }

  
  
}
